@model BricABrac.Models.StudentGradeModel

<h2>Grades</h2>

<button class="btn btn-primary">
    <a class="nav-link text-white" asp-area="" asp-controller="Tools" asp-action="CreateModule">Create a module</a>
</button>
<button class="btn btn-primary">
    <a class="nav-link text-white" asp-area="" asp-controller="Tools" asp-action="CreateSubject">Create a subject</a>
</button>
<button class="btn btn-primary">
    <a class="nav-link text-white" asp-area="" asp-controller="Tools" asp-action="CreateGrade">Create a grade</a>
</button>
<div>
    <table class="table table-striped">
        <tbody>
            @foreach (var item in Model.Modules)
            {
                <tr>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.Name)
                    </td>
                </tr>
                @foreach (var item2 in Model.Subjects)
                {
                    if (@Html.DisplayTextFor(modelItem => item.Id)== @Html.DisplayTextFor(modelItem => item2.Moduleid))
                    {
                        <tr>
                            <td>
                                @Html.DisplayTextFor(modelItem => item2.Name)
                            </td>
                        </tr>
                        @foreach (var item3 in Model.Grades)
                        {
                            if (@Html.DisplayTextFor(modelItem => item2.Id) == @Html.DisplayTextFor(modelItem => item3.Subjectid))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayTextFor(modelItem => item3.Grade)
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            }
        </tbody>
    </table>
</div>
